<div class="card  mx-auto" style="width: 38rem; ">

  <img src="../../../cooking.png" class="card-img" alt="image" />

  <div class="card-img-overlay d-flex flex-column justify-content-center">
    <h2 class="card-title" style="text-align: center;">Deliciousness to your inbox</h2>
    <p class="card-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>

      <div class="col-sm-10 mx-auto">
        <div  class="input-group mb-3" >
          <input type="text" class="form-control form-control-lg p-2 rounded h-75" placeholder="Your email adress..." aria-describedby="button-addon2">
          <button class="btn btn-primary w-25 bg-info mt-2 p-2" type="button" id="button-addon2">Suscribe</button>
        </div>
      </div>

  </div>
</div>
